.container {
    max-width: 300px;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    background-image: url('paper.jpg');
    background-size: cover;
}

form {
    text-align: center;
    display: inline-block;
    font-size: 1em;
}   
#name, #major, #contact, #phone{
    box-sizing: border-box;
    width: 200px;
    background-color: #eaeaea;
    border-radius: 5px; border-width: 1px;
}
label{
    width: 80px;
    display: inline-block;
}

input[type="submit"] {
    width: auto;
}